{% extends 'base.html.twig' %}
{% block body %}
    <div class="top_container">
        <h1>Importer un document</h1>
    </div>
    <div class="container">
        {{ form_start(formDocument) }}
        <div class="form-group">
            {{ form_label(formDocument.intitule, 'Sélectionner un fichier', {'label_attr': {'class': 'p'}} ) }}
            {{ form_widget(formDocument.intitule, {'attr': {'class': 'button_import'}} ) }}
        </div>

        <div class="top_container">
            {{ form_label(formDocument.typeDocument2, 'Type de document', {'label_attr': {'class': 'p'}} ) }}
            {{ form_widget(formDocument.typeDocument2, {'attr': {'class': 'custom-select'}} ) }}
        </div>

        <div class="top_container" id="select_student">
            {{ form_label(formDocument.etudiant, 'Étudiant', {'label_attr': {'class': 'p'}} ) }}
            {{ form_widget(formDocument.etudiant, {'attr': {'class': 'custom-select'}} ) }}
        </div>

        <div class="top_container" id="commentaire">
            {{ form_label(formDocument.commentaire, 'Commenter', {'label_attr': {'class': 'p'}} ) }}
            {{ form_widget(formDocument.commentaire, {'attr': {'class': 'form-control', 'placeholder': 'Commentaire ...'} }) }}
            {{ form_errors(formDocument.commentaire) }}
        </div>

        <script>
            document.getElementById("select_student").style.display = "none";
            document.getElementById("commentaire").style.display = 'none';
        </script>

        <div class="form-group">
            {{ form_label(formDocument.valider, 'Valider', {'label_attr': {'class': 'p'}} ) }}
            {{ form_widget(formDocument.valider, {'attr': {'class': 'button3'}} ) }}
        </div>
        {{ form_end(formDocument) }}
    </div>
    <div id="button">
        <a class="button" href="{{ path('home_students') }}" >Retourner au menu principal</a>
    </div>
{% endblock %}