{% extends 'base.html.twig' %}
{% block body %}
    <h1>Affectation de la note de suivi :</h1>
    <div class="top_container">
        {{ form_start(form) }}

        {{ form_label(form.etudiants, 'Choix étudiant', {'label_attr': {'class': 'p'}} ) }}
        {{ form_widget(form.etudiants, {'attr': {'class': 'form-control', 'placeholder': 'Sélectionner un étudiant ...'} }) }}
        {{ form_errors(form.etudiants) }}

        
        {{ form_label(form.noteTempo, 'Note de suivi', {'label_attr': {'class': 'p'}} ) }}
        {{ form_widget(form.noteTempo, {'attr': {'class': 'form-control', 'placeholder': 'Note de suivi ...'} }) }}
        {{ form_errors(form.noteTempo) }}


        <div class="form-group">
            {{ form_label(form.valider, 'Affecter', {'label_attr': {'class': 'p'}} ) }}
            {{ form_widget(form.valider, {'attr': {'class': 'button3'}} ) }}
        </div>

        {{ form_end(form) }}

        <!--<button class="button3" type="button">Valider l'étudiant</button>-->
    </div>
    <div id="button">
        <a class="button" href="{{ path('home_tutors') }}" >Retourner au menu principal</a>
    </div>

{% endblock %}