{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <a href="{{ path('tutor_list') }}">Liste des tuteurs universitaires</a> <br />
        <a href="{{ path('student_list') }}">Liste des étudiants et notes</a> <br />
        <a href="{{ path('setting') }}">Paramétrer les dates de rendu et délais de relance</a> <br />
        <a href="{{ path('tutor_assign') }}">Assignation des tuteurs</a> <br />
        <a href="{{ path('RUE_add_document') }}">Ajouter un document</a> <br />
        <a href="{{ path('RUE_documents') }}">Voir les documents</a> <br />
        <!--<a href="{{ path('RUE_see_feasibility_sheet') }}">Voir les fiches de faisabilité</a> <br />-->
        <!--<a href="{{ path('add_feasibility_sheet') }}">Importer une fiche de faisabilité</a>-->
    </div>
{% endblock %}