{% extends 'base.html.twig' %}
{% block body %}
    <div class="top_container">
        <h1>Étudiant - {{ etudiant.personne.prenom }} {{ etudiant.personne.nom }}</h1>
        {{ form_start(form) }}

        {{ form_label(form.tuteur, 'Choix tuteur', {'label_attr': {'class': 'p'}} ) }}
        {{ form_widget(form.tuteur, {'attr': {'class': 'form-control', 'placeholder': 'Sélection un tuteur ...'} }) }}
        {{ form_errors(form.tuteur) }}

        <div class="form-group">
            {{ form_label(form.valider, 'Affecter', {'label_attr': {'class': 'p'}} ) }}
            {{ form_widget(form.valider, {'attr': {'class': 'button3'}} ) }}
        </div>

        {{ form_end(form) }}
    </div>
    <div id="button" class="margin_top">
        <a class="button" href="{{ path('tutor_assign') }}" >Retour sur les étudiants</a>
    </div>
{% endblock %}