{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Assignation des tuteurs</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Étudiants</th>
                    <th scope="col">Entreprise</th>
                    <th scope="col">Localité</th>
                    <th scope="col">Tuteur</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for etudiant in etudiants %}
                <tr>
                    <th scope="row"></th>
                    <td>{{ etudiant.personne.prenom }} {{ etudiant.personne.nom }}</td>
                    <td>{{ etudiant.entreprise.nom }}</td>
                    <td>{{ etudiant.entreprise.localite }}</td>
                    <td>{{ etudiant.tuteur.personne.nom }} {{ etudiant.tuteur.personne.prenom }}</td>
                    <td>
                        <a class="navbar-brand" href="{{ path('tutor_affect', { 'id': etudiant.id }) }}">
                            <img src="/images/add.png" alt="icon ajouter" id="icon_add" class="icon_click">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="button" class="margin_top">
        <a class="button" href="{{ path('home_responsable_ue') }}" >Retourner au menu principal</a>
    </div>
{% endblock %}