{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Assignation des tuteurs</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Étudiants</th>
                    <th scope="col">Entreprise</th>
                    <th scope="col">Localité</th>
                    <th scope="col">Tuteur</th>
                </tr>
            </thead>
            <tbody>
                {% for etudiant in etudiants %}
                <tr>
                    <th scope="row"></th>
                    <td>{{ etudiant.personne.prenom }} {{ etudiant.personne.nom }}</td>
                    <td>{{ etudiant.entreprise.nom }}</td>
                    <td>{{ etudiant.entreprise.localite }}</td>
                    <td>
                        <select class="custom-select">
                            <option selected>A définir...</option>
                                {% for tuteur in tuteurs %}
                            <option value={{ tuteur.id }}>{{ tuteur.personne.prenom }} {{ tuteur.personne.nom }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="button" class="group_button">
        <a class="button2" href="{{ path('home_responsable_ue') }}" >Enregistrer les modifications</a>
        <a class="button2" href="{{ path('home_responsable_ue') }}" >Retourner au menu principal</a>
    </div>
{% endblock %}