{% extends 'base.html.twig' %}
{% block body %}
    <div class="top_container">
        <h1>Paramétrer les dates de rendu et délais de relance</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Intitulé</th>
                    <th scope="col">Date de rendu</th>
                    <th scope="col">Délai de relance</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for typeDocument in typeDocuments %}
                <tr>
                    <th scope="row"></th>
                    <td>{{ typeDocument.intitule }}</td>
                    <td>{{ typeDocument.dateLimite |date('Y-m-d') }}</td>
                    <td>{{ typeDocument.delaiRelance }}</td>
                    <td>
                        <a class="navbar-brand" href="{{ path('RUE_setting', { 'id': typeDocument.id }) }}">
                            <img src="/images/edit.png" alt="icon parametrer" id="icon_edit" class="icon_click">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="button" class="group_button">
        <a class="button" href="{{ path('home_responsable_ue') }}" >Retourner au menu principal</a>
    </div>
{% endblock %}